/* LandingPage.css */
.landing-page {
  /* Set the background image and adjust its properties */
  background-image: url("../imgTest/test.jpg");
  background-size: cover; /* Adjust the image size to cover the container */
  background-position: center; /* Center the image horizontally and vertically */
  background-repeat: no-repeat; /* Prevent image repetition */

  /* Add other styles as needed */
  padding: 20px;
  text-align: center;
  color: white;
}

/* Style the h5 and button as needed */
h5 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
